/.claude
/404.html
/blog
/browserconfig.xml
/build
/css
/favicon
/fonts
/icons
/images
/index.html
/js
/manifest.json
/node_modules
/package-lock.json
/package.json
/pages
/perioches
/README.md
/robots.txt
/sitemap-images.xml
/sitemap.xml